<a href="https://colab.research.google.com/github/N-Saipraveen/N-Saipraveen/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **G1 Slot paper**

In [5]:
def is_happy(n):
    seen = set()
    while n not in seen:
        seen.add(n)
        n = sum(int(i)**2 for i in str(n))
        if n == 1:
            return True
    return False

print(is_happy(13)) # True
print(is_happy(19)) # True
print(is_happy(21)) # False

True
True
False

In [7]:
def season(month):
    if month < 1 or month > 12:
        return "Invalid month"
    elif month >= 3 and month <= 5:
        return "Spring"
    elif month >= 6 and month <= 8:
        return "Summer"
    elif month >= 9 and month <= 11:
        return "Autumn"
    else:
        return "Winter"

month = int(input("Enter the month: "))
print("Season:", season(month))

Enter the month: 2
Season: Winter

In [8]:
def ticket_cost(tickets, circle, coupon, refreshments):
    if tickets < 5 or tickets > 40:
        return "Minimum of 5 and Maximum of 40 Tickets"
    if circle not in ["k", "q"]:
        return "Invalid Input"
    cost = 0
    if circle == "k":
        cost += tickets * 75
    else:
        cost += tickets * 150
    if refreshments:
        cost += tickets * 50
    if coupon:
        cost *= 0.98
    if tickets > 20:
        cost *= 0.9
    return cost

tickets = int(input("Enter the number of tickets: "))
circle = input("Enter the class (k or q): ")
coupon = input("Do you have a coupon? (y or n): ")
refreshments = input("Do you want refreshments? (y or n): ")
print("Total cost:", ticket_cost(tickets, circle, coupon == "y", refreshments == "y"))

Enter the number of tickets: 33
Enter the class (k or q): q
Do you have a coupon? (y or n): y
Do you want refreshments? (y or n): y
Total cost: 5821.2

In [10]:
def vehicle_production(V, W):
    # equation for the number of two-wheelers and four-wheelers
    # V = TW + FW
    # W = 2 * TW + 4 * FW
    # solving for TW and FW, we get:
    TW = (W - 2 * V) / 2
    FW = V - TW
    if TW < 0 or FW < 0:
        return "Invalid Input"
    else:
        return int(TW), int(FW)

V = int(input("Enter the total number of vehicles (TW + FW): "))
W = int(input("Enter the total number of wheels: "))
TW, FW = vehicle_production(V, W)
if TW < 0 or FW < 0:
    print("Invalid Input")
else:
    print("Two-wheelers:", TW)
    print("Four-wheelers:", FW)

Enter the total number of vehicles (TW + FW): 200
Enter the total number of wheels: 540
Two-wheelers: 70
Four-wheelers: 130

In [19]:
n = int(input("enter the number of rows"))
a = 65
for i in range (0,n+1):
  for j in range (0 , i):
    print(chr(a), " " ,end ='')
    a = a + 1
  print()

enter the number of rows5

A
B  C
D  E  F
G  H  I  J
K  L  M  N  O

In [20]:
def sum_of_carries(x, y):
    carry = 0
    result = 0
    while x > 0 or y > 0:
        x_unit = x % 10
        y_unit = y % 10
        x = x // 10
        y = y // 10
        if x_unit + y_unit + carry > 9:
            carry = 1
            result += 1
        else:
            carry = 0
    return result

x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
print("Sum of carries:", sum_of_carries(x, y))

Enter the first number: 819
Enter the second number: 9219
Sum of carries: 3

In [22]:
def binary_to_decimal(binary):
    decimal = 0
    for digit in binary:
        decimal = decimal*2 + int(digit)
    return decimal

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
        if i*i > n:
            break
    return True

binary = input("Enter a binary number: ")
decimal = binary_to_decimal(binary)
if is_prime(decimal):
    print(decimal, "is prime")
else:
    print(decimal, "is not prime")

Enter a binary number: 111
7 is prime

## **G2 Slot paper**

In [23]:
decimal = 42
octal = ""
while decimal > 0:
    remainder = decimal % 8
    octal = str(remainder) + octal
    decimal = decimal // 8
print(octal)

52

In [24]:
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    sum_of_digits += number % 10
    number = number // 10
if sum_of_digits % 2 == 0:
    print("Sum of digits is even")
else:
    print("Sum of digits is odd")

Enter a number: 245
Sum of digits is odd

In [25]:
income = float(input("Enter the employee's total income: "))
taxable_income = 0

if income <= 300000:
    print("Taxable income:", taxable_income)
    print("Tax amount: Nil")
elif income <= 500000:
    taxable_income = income - 300000
    tax = taxable_income * 0.05
    print("Taxable income:", taxable_income)
    print("Tax amount:", tax)
elif income <= 1000000:
    taxable_income = income - 500000
    tax = taxable_income * 0.20 + 10000
    print("Taxable income:", taxable_income)
    print("Tax amount:", tax)
else:
    taxable_income = income - 1000000
    tax = taxable_income * 0.30 + 110000
    print("Taxable income:", taxable_income)
    print("Tax amount:", tax)

Enter the employee's total income: 852855
Taxable income: 352855.0
Tax amount: 80571.0

In [29]:
def print_pyramid(n):
    for i in range(1, n + 1):
        print(" " * (n - i) + "".join(str(j) for j in range(i, 2 * i)) + "".join(str(j) for j in range(2 * i - 2, i - 1, -1)))

print_pyramid(4)

   1
  232
 34543
4567654