<a href="https://colab.research.google.com/github/N-Saipraveen/N-Saipraveen/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **G1 Slot paper**

In [ ]:
def is_happy(n):
    seen = set()
    while n not in seen:
        seen.add(n)
        n = sum(int(i)**2 for i in str(n))
        if n == 1:
            return True
    return False

print(is_happy(13)) # True
print(is_happy(19)) # True
print(is_happy(21)) # False

True
True
False

In [ ]:
def season(month):
    if month < 1 or month > 12:
        return "Invalid month"
    elif month >= 3 and month <= 5:
        return "Spring"
    elif month >= 6 and month <= 8:
        return "Summer"
    elif month >= 9 and month <= 11:
        return "Autumn"
    else:
        return "Winter"

month = int(input("Enter the month: "))
print("Season:", season(month))

Enter the month: 2
Season: Winter

In [ ]:
def ticket_cost(tickets, circle, coupon, refreshments):
    if tickets < 5 or tickets > 40:
        return "Minimum of 5 and Maximum of 40 Tickets"
    if circle not in ["k", "q"]:
        return "Invalid Input"
    cost = 0
    if circle == "k":
        cost += tickets * 75
    else:
        cost += tickets * 150
    if refreshments:
        cost += tickets * 50
    if coupon:
        cost *= 0.98
    if tickets > 20:
        cost *= 0.9
    return cost

tickets = int(input("Enter the number of tickets: "))
circle = input("Enter the class (k or q): ")
coupon = input("Do you have a coupon? (y or n): ")
refreshments = input("Do you want refreshments? (y or n): ")
print("Total cost:", ticket_cost(tickets, circle, coupon == "y", refreshments == "y"))

Enter the number of tickets: 44
Enter the class (k or q): g
Do you have a coupon? (y or n): y
Do you want refreshments? (y or n): y
Total cost: Minimum of 5 and Maximum of 40 Tickets

In [ ]:
def vehicle_production(V, W):
    # equation for the number of two-wheelers and four-wheelers
    # V = TW + FW
    # W = 2 * TW + 4 * FW
    # solving for TW and FW, we get:
    TW = (W - 2 * V) / 2
    FW = V - TW
    if TW < 0 or FW < 0:
        return "Invalid Input"
    else:
        return int(TW), int(FW)

V = int(input("Enter the total number of vehicles (TW + FW): "))
W = int(input("Enter the total number of wheels: "))
TW, FW = vehicle_production(V, W)
if TW < 0 or FW < 0:
    print("Invalid Input")
else:
    print("Two-wheelers:", TW)
    print("Four-wheelers:", FW)

Enter the total number of vehicles (TW + FW): 200
Enter the total number of wheels: 540
Two-wheelers: 70
Four-wheelers: 130

In [ ]:
n = int(input("enter the number of rows"))
a = 65
for i in range (0,n+1):
  for j in range (0 , i):
    print(chr(a), " " ,end ='')
    a = a + 1
  print()

enter the number of rows5

A
B  C
D  E  F
G  H  I  J
K  L  M  N  O

In [ ]:
def sum_of_carries(x, y):
    carry = 0
    result = 0
    while x > 0 or y > 0:
        x_unit = x % 10
        y_unit = y % 10
        x = x // 10
        y = y // 10
        if x_unit + y_unit + carry > 9:
            carry = 1
            result += 1
        else:
            carry = 0
    return result

x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
print("Sum of carries:", sum_of_carries(x, y))

Enter the first number: 819
Enter the second number: 9219
Sum of carries: 3

In [ ]:
def binary_to_decimal(binary):
    decimal = 0
    for digit in binary:
        decimal = decimal*2 + int(digit)
    return decimal

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
        if i*i > n:
            break
    return True

binary = input("Enter a binary number: ")
decimal = binary_to_decimal(binary)
if is_prime(decimal):
    print(decimal, "is prime")
else:
    print(decimal, "is not prime")

Enter a binary number: 111
7 is prime

## **G2 Slot paper**

In [ ]:
decimal = 42
octal = ""
while decimal > 0:
    remainder = decimal % 8
    octal = str(remainder) + octal
    decimal = decimal // 8
print(octal)

52

In [ ]:
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    sum_of_digits += number % 10
    number = number // 10
if sum_of_digits % 2 == 0:
    print("Sum of digits is even")
else:
    print("Sum of digits is odd")

Enter a number: 46
Sum of digits is even

In [ ]:
income = float(input("Enter the employee's total income: "))
taxable_income = 0

if income <= 300000:
    print("Taxable income:", taxable_income)
    print("Tax amount: Nil")
elif income <= 500000:
    taxable_income = income - 300000
    tax = taxable_income * 0.05
    print("Taxable income:", taxable_income)
    print("Tax amount:", tax)
elif income <= 1000000:
    taxable_income = income - 500000
    tax = taxable_income * 0.20 + 10000
    print("Taxable income:", taxable_income)
    print("Tax amount:", tax)
else:
    taxable_income = income - 1000000
    tax = taxable_income * 0.30 + 110000
    print("Taxable income:", taxable_income)
    print("Tax amount:", tax)

Enter the employee's total income: 987654
Taxable income: 487654.0
Tax amount: 107530.8

In [ ]:
def print_pyramid(n):
    for i in range(1, n + 1):
        print(" " * (n - i) + "".join(str(j) for j in range(i, 2 * i)) + "".join(str(j) for j in range(2 * i - 2, i - 1, -1)))

print_pyramid(4)

   1
  232
 34543
4567654

## **G3 Slot**

In [ ]:
# Initial values of variables
a = 5
b = 10

# Use a temporary variable to store the value of a
temp = a

# Assign the value of b to a
a = b

# Assign the value of the temporary variable (which holds the original value of a) to b
b = temp

# Print the new values of a and b
print(a) # Output: 10
print(b) # Output: 5

10
5

In [ ]:
# Initialize variables
a = 0
b = 1

# Take input for number of terms to generate
n = int(input("Enter the number of terms: "))

# Use for loop to generate the series
for i in range(n):
    # Print the current term
    print(a)

    # Update the variables for the next term
    c = a + b
    a = b
    b = c

Enter the number of terms: 7
0
1
1
2
3
5
8

In [ ]:
# Take input from user
number = int(input("Enter a number: "))

# Check the value of the number
if number >= 5 and number <= 15:
    print("GREEN")
elif number > 15 and number <= 25:
    print("BLUE")
elif number > 25 and number <= 35:
    print("ORANGE")
else:
    print("ALL COLOURS ARE BEAUTIFUL")

Enter a number: 21
BLUE

In [ ]:
# Take input from user
x = int(input("Enter the first value: "))
y = int(input("Enter the second value: "))

# Perform mathematical operations
add = x + y
sub = x - y
mul = x * y
div = x / y

# Print results
print("Addition: ", add)
print("Subtraction: ", sub)
print("Multiplication: ", mul)
print("Division: ", div)

Enter the first value: 7
Enter the second value: 7
Addition:  14
Subtraction:  0
Multiplication:  49
Division:  1.0

In [ ]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

## **SWE1004**

In [ ]:
# Take input from user
number = int(input("Enter a number: "))

# Copy the original number to a variable
temp = number

# Initialize a variable to store the sum of the digits
sum_of_digits = 0

# Use while loop to iterate through each digit
while temp > 0:
    # Get the last digit of the number
    digit = temp % 10

    # Add it to the sum
    sum_of_digits += digit

    # Remove the last digit from the number
    temp //= 10

# Reverse the sum_of_digits
rev = int(str(sum_of_digits)[::-1])

#Check if the number is magic number
if number == sum_of_digits**rev:
    print(number, "is a magic number.")
else:
    print(number, "is not a magic number.")

Enter a number: 1729
1729 is not a magic number.

In [ ]:
# Initialize a list to store the runs scored
runs = []

# Take input from the user for the runs scored in each of the last 10 innings
for i in range(10):
    runs.append(int(input("Enter the runs scored in inning " + str(i+1) + ": ")))

# Initialize a variable to store the total runs scored
total_runs = 0

# Initialize a variable to store the number of scores greater than 30
greater_than_30 = 0

# Calculate the total runs scored and the number of scores greater than 30
for score in runs:
    total_runs += score
    if score > 30:
        greater_than_30 += 1

# Calculate the average of the scores greater than 30
if greater_than_30 > 0:
    average = total_runs / greater_than_30
else:
    average = 0

# Print the average of the scores greater than 30
print("The average of scores greater than 30 is:", average)

Enter the runs scored in inning 1: 85
Enter the runs scored in inning 2: 58
Enter the runs scored in inning 3: 65
Enter the runs scored in inning 4: 55
Enter the runs scored in inning 5: 58
Enter the runs scored in inning 6: 36
Enter the runs scored in inning 7: 99
Enter the runs scored in inning 8: 125
Enter the runs scored in inning 9: 214
Enter the runs scored in inning 10: 85
The average of scores greater than 30 is: 88.0

In [ ]:
# Take input from the user for the lower bound "a" and upper bound "b"
a = int(input("Enter the lower bound: "))
b = int(input("Enter the upper bound: "))

# Iterate through the range from lower bound "a" to upper bound "b"
for num in range(a, b+1):
    # Initialize a variable to track if the number is prime or not
    prime = True
    # Check if the number is prime or not
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                prime = False
                break
    else:
        prime = False
    # Print the number if it is prime
    if prime:
        print(num)

Enter the lower bound: 5
Enter the upper bound: 85
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83

# **E1 slot**

In [ ]:
# Take input from the user
num = int(input("Enter a number: "))

# Initialize sum
sum = 0

# Find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# Display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 321
321 is not an Armstrong number

In [10]:
# Take input from the user
mrp = float(input("Enter the MRP: "))

# Initialize discount and GST variables
discount = 0
gst = 0.09

# Calculate discount and GST
if mrp <= 2000:
    discount = 0.05
elif mrp <= 5000:
    discount = 0.1
elif mrp <= 10000:
    discount = 0.15
else:
    discount = 0.2

# Calculate the discounted price
discounted_price = mrp - (mrp * discount)

# Calculate the final amount to be paid
amount = discounted_price + (discounted_price * gst)

# Print the final amount
print("Amount to be paid: Rs.", amount)

Enter the MRP: 6789
Amount to be paid: Rs. 6290.0085

In [ ]:
# Take input from the user
char = input("Enter a character: ")

# Check if the character is a vowel
if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u' or char == 'A' or char == 'E' or char == 'I' or char == 'O' or char == 'U':
    print("The character is a vowel.")
else:
    print("The character is a consonant.")

Enter a character: A
The character is a vowel.

In [3]:
# Initialize sum
sum = 0

# Iterate through all the numbers from 1 to 500
for i in range(1, 500):
    # Check if the number is a multiple of 3 or 5
    if i % 3 == 0 or i % 5 == 0:
        # If it is, add it to the sum
        sum += i

# Print the sum
print("The sum of all the multiples of 3 or 5 below 500 is:", sum)

The sum of all the multiples of 3 or 5 below 500 is: 57918

In [4]:
for i in range(1,7):
    print(" "*(i-1) + "* "*(7-i))

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [8]:
n = 1
for i in range(1, 7):
    print(" "*(6-i)*2 + "".join(str(n) for n in range(n, n+i)))
    n += i

          1
        23
      456
    78910
  1112131415
161718192021

## **E2 Slot**

In [11]:
# Take input from the user
num = int(input("Enter a number: "))

# Initialize sum
sum = 0

# Find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# Display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 145
145 is not an Armstrong number

In [12]:
# Initialize sum
sum = 0

# Iterate through all the numbers from 1 to 500
for i in range(1, 500):
    # Check if the number is a multiple of 3 or 5
    if i % 3 == 0 or i % 5 == 0:
        # If it is, add it to the sum
        sum += i

# Print the sum
print("The sum of all the multiples of 3 or 5 below 500 is:", sum)

The sum of all the multiples of 3 or 5 below 500 is: 57918

In [13]:
# Take input from the user
lower_bound = int(input("Enter the lower bound: "))
upper_bound = int(input("Enter the upper bound: "))

# Initialize sum
sum = 0

# Use for loop to iterate through the range of numbers
for i in range(lower_bound, upper_bound+1):
    # Add the current number to the sum
    sum += i

# Print the sum
print("The sum of the numbers between", lower_bound, "and", upper_bound, "is:", sum)

Enter the lower bound: 7
Enter the upper bound: 77
The sum of the numbers between 7 and 77 is: 2982

In [15]:
letter = 'A'
for i in range(1,6):
    for j in range(i):
        print(chr(ord(letter) + j), end=" ")
    print()
    letter = chr(ord(letter) + i)

A
B C
D E F
G H I J
K L M N O

In [17]:
for i in range(1, 6):
    print(" "*(5-i) + "".join(str(n) for n in range(1, i+1)))

    1
   12
  123
 1234
12345