<a href="https://colab.research.google.com/github/N-Saipraveen/N-Saipraveen/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **G1 Slot paper**

In [ ]:
def is_happy(n):
    seen = set()
    while n not in seen:
        seen.add(n)
        n = sum(int(i)**2 for i in str(n))
        if n == 1:
            return True
    return False

print(is_happy(13)) # True
print(is_happy(19)) # True
print(is_happy(21)) # False

True
True
False

In [ ]:
def season(month):
    if month < 1 or month > 12:
        return "Invalid month"
    elif month >= 3 and month <= 5:
        return "Spring"
    elif month >= 6 and month <= 8:
        return "Summer"
    elif month >= 9 and month <= 11:
        return "Autumn"
    else:
        return "Winter"

month = int(input("Enter the month: "))
print("Season:", season(month))

Enter the month: 2
Season: Winter

In [ ]:
def ticket_cost(tickets, circle, coupon, refreshments):
    if tickets < 5 or tickets > 40:
        return "Minimum of 5 and Maximum of 40 Tickets"
    if circle not in ["k", "q"]:
        return "Invalid Input"
    cost = 0
    if circle == "k":
        cost += tickets * 75
    else:
        cost += tickets * 150
    if refreshments:
        cost += tickets * 50
    if coupon:
        cost *= 0.98
    if tickets > 20:
        cost *= 0.9
    return cost

tickets = int(input("Enter the number of tickets: "))
circle = input("Enter the class (k or q): ")
coupon = input("Do you have a coupon? (y or n): ")
refreshments = input("Do you want refreshments? (y or n): ")
print("Total cost:", ticket_cost(tickets, circle, coupon == "y", refreshments == "y"))

Enter the number of tickets: 44
Enter the class (k or q): g
Do you have a coupon? (y or n): y
Do you want refreshments? (y or n): y
Total cost: Minimum of 5 and Maximum of 40 Tickets

In [ ]:
def vehicle_production(V, W):
    # equation for the number of two-wheelers and four-wheelers
    # V = TW + FW
    # W = 2 * TW + 4 * FW
    # solving for TW and FW, we get:
    TW = (W - 2 * V) / 2
    FW = V - TW
    if TW < 0 or FW < 0:
        return "Invalid Input"
    else:
        return int(TW), int(FW)

V = int(input("Enter the total number of vehicles (TW + FW): "))
W = int(input("Enter the total number of wheels: "))
TW, FW = vehicle_production(V, W)
if TW < 0 or FW < 0:
    print("Invalid Input")
else:
    print("Two-wheelers:", TW)
    print("Four-wheelers:", FW)

Enter the total number of vehicles (TW + FW): 200
Enter the total number of wheels: 540
Two-wheelers: 70
Four-wheelers: 130

In [ ]:
n = int(input("enter the number of rows"))
a = 65
for i in range (0,n+1):
  for j in range (0 , i):
    print(chr(a), " " ,end ='')
    a = a + 1
  print()

enter the number of rows5

A
B  C
D  E  F
G  H  I  J
K  L  M  N  O

In [ ]:
def sum_of_carries(x, y):
    carry = 0
    result = 0
    while x > 0 or y > 0:
        x_unit = x % 10
        y_unit = y % 10
        x = x // 10
        y = y // 10
        if x_unit + y_unit + carry > 9:
            carry = 1
            result += 1
        else:
            carry = 0
    return result

x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
print("Sum of carries:", sum_of_carries(x, y))

Enter the first number: 819
Enter the second number: 9219
Sum of carries: 3

In [ ]:
def binary_to_decimal(binary):
    decimal = 0
    for digit in binary:
        decimal = decimal*2 + int(digit)
    return decimal

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
        if i*i > n:
            break
    return True

binary = input("Enter a binary number: ")
decimal = binary_to_decimal(binary)
if is_prime(decimal):
    print(decimal, "is prime")
else:
    print(decimal, "is not prime")

Enter a binary number: 111
7 is prime

## **G2 Slot paper**

In [ ]:
decimal = 42
octal = ""
while decimal > 0:
    remainder = decimal % 8
    octal = str(remainder) + octal
    decimal = decimal // 8
print(octal)

52

In [ ]:
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    sum_of_digits += number % 10
    number = number // 10
if sum_of_digits % 2 == 0:
    print("Sum of digits is even")
else:
    print("Sum of digits is odd")

Enter a number: 46
Sum of digits is even

In [ ]:
income = float(input("Enter the employee's total income: "))
taxable_income = 0

if income <= 300000:
    print("Taxable income:", taxable_income)
    print("Tax amount: Nil")
elif income <= 500000:
    taxable_income = income - 300000
    tax = taxable_income * 0.05
    print("Taxable income:", taxable_income)
    print("Tax amount:", tax)
elif income <= 1000000:
    taxable_income = income - 500000
    tax = taxable_income * 0.20 + 10000
    print("Taxable income:", taxable_income)
    print("Tax amount:", tax)
else:
    taxable_income = income - 1000000
    tax = taxable_income * 0.30 + 110000
    print("Taxable income:", taxable_income)
    print("Tax amount:", tax)

Enter the employee's total income: 987654
Taxable income: 487654.0
Tax amount: 107530.8

In [ ]:
def print_pyramid(n):
    for i in range(1, n + 1):
        print(" " * (n - i) + "".join(str(j) for j in range(i, 2 * i)) + "".join(str(j) for j in range(2 * i - 2, i - 1, -1)))

print_pyramid(4)

   1
  232
 34543
4567654

## **G3 Slot**

In [ ]:
# Initial values of variables
a = 5
b = 10

# Use a temporary variable to store the value of a
temp = a

# Assign the value of b to a
a = b

# Assign the value of the temporary variable (which holds the original value of a) to b
b = temp

# Print the new values of a and b
print(a) # Output: 10
print(b) # Output: 5

10
5

In [ ]:
# Initialize variables
a = 0
b = 1

# Take input for number of terms to generate
n = int(input("Enter the number of terms: "))

# Use for loop to generate the series
for i in range(n):
    # Print the current term
    print(a)

    # Update the variables for the next term
    c = a + b
    a = b
    b = c

Enter the number of terms: 7
0
1
1
2
3
5
8

In [ ]:
# Take input from user
number = int(input("Enter a number: "))

# Check the value of the number
if number >= 5 and number <= 15:
    print("GREEN")
elif number > 15 and number <= 25:
    print("BLUE")
elif number > 25 and number <= 35:
    print("ORANGE")
else:
    print("ALL COLOURS ARE BEAUTIFUL")

Enter a number: 21
BLUE

In [ ]:
# Take input from user
x = int(input("Enter the first value: "))
y = int(input("Enter the second value: "))

# Perform mathematical operations
add = x + y
sub = x - y
mul = x * y
div = x / y

# Print results
print("Addition: ", add)
print("Subtraction: ", sub)
print("Multiplication: ", mul)
print("Division: ", div)

Enter the first value: 7
Enter the second value: 7
Addition:  14
Subtraction:  0
Multiplication:  49
Division:  1.0

In [ ]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

## **SWE1004**

In [ ]:
# Take input from user
number = int(input("Enter a number: "))

# Copy the original number to a variable
temp = number

# Initialize a variable to store the sum of the digits
sum_of_digits = 0

# Use while loop to iterate through each digit
while temp > 0:
    # Get the last digit of the number
    digit = temp % 10

    # Add it to the sum
    sum_of_digits += digit

    # Remove the last digit from the number
    temp //= 10

# Reverse the sum_of_digits
rev = int(str(sum_of_digits)[::-1])

#Check if the number is magic number
if number == sum_of_digits**rev:
    print(number, "is a magic number.")
else:
    print(number, "is not a magic number.")

Enter a number: 1729
1729 is not a magic number.

In [ ]:
# Initialize a list to store the runs scored
runs = []

# Take input from the user for the runs scored in each of the last 10 innings
for i in range(10):
    runs.append(int(input("Enter the runs scored in inning " + str(i+1) + ": ")))

# Initialize a variable to store the total runs scored
total_runs = 0

# Initialize a variable to store the number of scores greater than 30
greater_than_30 = 0

# Calculate the total runs scored and the number of scores greater than 30
for score in runs:
    total_runs += score
    if score > 30:
        greater_than_30 += 1

# Calculate the average of the scores greater than 30
if greater_than_30 > 0:
    average = total_runs / greater_than_30
else:
    average = 0

# Print the average of the scores greater than 30
print("The average of scores greater than 30 is:", average)

Enter the runs scored in inning 1: 85
Enter the runs scored in inning 2: 58
Enter the runs scored in inning 3: 65
Enter the runs scored in inning 4: 55
Enter the runs scored in inning 5: 58
Enter the runs scored in inning 6: 36
Enter the runs scored in inning 7: 99
Enter the runs scored in inning 8: 125
Enter the runs scored in inning 9: 214
Enter the runs scored in inning 10: 85
The average of scores greater than 30 is: 88.0

In [ ]:
# Take input from the user for the lower bound "a" and upper bound "b"
a = int(input("Enter the lower bound: "))
b = int(input("Enter the upper bound: "))

# Iterate through the range from lower bound "a" to upper bound "b"
for num in range(a, b+1):
    # Initialize a variable to track if the number is prime or not
    prime = True
    # Check if the number is prime or not
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                prime = False
                break
    else:
        prime = False
    # Print the number if it is prime
    if prime:
        print(num)

Enter the lower bound: 5
Enter the upper bound: 85
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83

# **E1 slot**

In [ ]:
# Take input from the user
num = int(input("Enter a number: "))

# Initialize sum
sum = 0

# Find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# Display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 321
321 is not an Armstrong number

In [10]:
# Take input from the user
mrp = float(input("Enter the MRP: "))

# Initialize discount and GST variables
discount = 0
gst = 0.09

# Calculate discount and GST
if mrp <= 2000:
    discount = 0.05
elif mrp <= 5000:
    discount = 0.1
elif mrp <= 10000:
    discount = 0.15
else:
    discount = 0.2

# Calculate the discounted price
discounted_price = mrp - (mrp * discount)

# Calculate the final amount to be paid
amount = discounted_price + (discounted_price * gst)

# Print the final amount
print("Amount to be paid: Rs.", amount)

Enter the MRP: 6789
Amount to be paid: Rs. 6290.0085

In [ ]:
# Take input from the user
char = input("Enter a character: ")

# Check if the character is a vowel
if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u' or char == 'A' or char == 'E' or char == 'I' or char == 'O' or char == 'U':
    print("The character is a vowel.")
else:
    print("The character is a consonant.")

Enter a character: A
The character is a vowel.

In [3]:
# Initialize sum
sum = 0

# Iterate through all the numbers from 1 to 500
for i in range(1, 500):
    # Check if the number is a multiple of 3 or 5
    if i % 3 == 0 or i % 5 == 0:
        # If it is, add it to the sum
        sum += i

# Print the sum
print("The sum of all the multiples of 3 or 5 below 500 is:", sum)

The sum of all the multiples of 3 or 5 below 500 is: 57918

In [4]:
for i in range(1,7):
    print(" "*(i-1) + "* "*(7-i))

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [8]:
n = 1
for i in range(1, 7):
    print(" "*(6-i)*2 + "".join(str(n) for n in range(n, n+i)))
    n += i

          1
        23
      456
    78910
  1112131415
161718192021

## **E2 Slot**

In [11]:
# Take input from the user
num = int(input("Enter a number: "))

# Initialize sum
sum = 0

# Find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# Display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 145
145 is not an Armstrong number

In [12]:
# Initialize sum
sum = 0

# Iterate through all the numbers from 1 to 500
for i in range(1, 500):
    # Check if the number is a multiple of 3 or 5
    if i % 3 == 0 or i % 5 == 0:
        # If it is, add it to the sum
        sum += i

# Print the sum
print("The sum of all the multiples of 3 or 5 below 500 is:", sum)

The sum of all the multiples of 3 or 5 below 500 is: 57918

In [13]:
# Take input from the user
lower_bound = int(input("Enter the lower bound: "))
upper_bound = int(input("Enter the upper bound: "))

# Initialize sum
sum = 0

# Use for loop to iterate through the range of numbers
for i in range(lower_bound, upper_bound+1):
    # Add the current number to the sum
    sum += i

# Print the sum
print("The sum of the numbers between", lower_bound, "and", upper_bound, "is:", sum)

Enter the lower bound: 7
Enter the upper bound: 77
The sum of the numbers between 7 and 77 is: 2982

In [15]:
letter = 'A'
for i in range(1,6):
    for j in range(i):
        print(chr(ord(letter) + j), end=" ")
    print()
    letter = chr(ord(letter) + i)

A
B C
D E F
G H I J
K L M N O

In [17]:
for i in range(1, 6):
    print(" "*(5-i) + "".join(str(n) for n in range(1, i+1)))

    1
   12
  123
 1234
12345

# **F3 slot**

In [2]:
tot=int(input("Enter total income of the user"))
C= int(input("Enter 80C Deduction, which at most is 150000"))
D= int(input("Enter 80D deduction, which at most is 50000"))
inc= tot - C - D - 50000
if (inc<=250000):
    tax= 0
elif (inc>250000 and inc<=500000):
    tax=(inc-250000)*0.1
elif (inc>500000 and inc<=750000):
    tax= (inc-500000)*0.2 + 25000
elif (inc>750000):
    tax= (inc-750000)*0.3 + (250000*0.2) + 25000
else:
    print("Invalid input")
print("The Income Tax owed to the government according to tax computation rules: ",tax)

Enter total income of the user800000
Enter 80C Deduction, which at most is 15000075000
Enter 80D deduction, which at most is 5000012000
The Income Tax owed to the government according to tax computation rules: 57600.0

In [3]:
import math
x=int(input("Enter x coordinate: "))
y= int(input("Enter y coordinate: "))
w= int(input("Enter width of rectangle: "))
h=int(input("Enter height of rectangle: "))
xr=int(input("Enter top leftmost x coordinate: "))
yr= int(input("Enter top leftmost y coordinate: "))
c= xr+w
d= yr+w
g=xr-h
H=yr-h
e=g+w
f=h+w
if((x<=g and x>=a)and (y<=d and y>=b)):
    print(x," ",y," is inside rectangle")
else:
    print("not within rectangle")

Enter x coordinate: 5
Enter y coordinate: 4
Enter width of rectangle: 4
Enter height of rectangle: 5
Enter top leftmost x coordinate: 4
Enter top leftmost y coordinate: 4
not within rectangle

In [7]:
import math
s=input("Enter 'k' if knight & 'q' if queen")
x1=int(input("Enter 1st piece row position"))
y1= int(input("Enter 1st piece column position"))
x2=int(input("Enter 1st piece row position"))
y2= int(input("Enter 2nd piece row position"))
rd1=math.fabs(x1-x2)
rd2=math.fabs(y1-y2)
if(s=='k'):
    if((rd1==1 and rd2==2)or(rd1==2 and rd2==1)):
        print("Collision shall occur")
    else:
        print("Collision will not possible")
elif(s=='q'):
    if((x1==x2)or(y1==y2)or (rd1==rd2)):
        print("Collision is possible")
    else:
        print("Collision is not possible")
else:
    print("Wrong char input")

Enter 'k' if knight & 'q' if queenk
Enter 1st piece row position7
Enter 1st piece column position4
Enter 1st piece row position3
Enter 2nd piece row position4
Collision will not possible

In [6]:
n=int(input("enter number of terms:"))
s=1
k=1
r=1
for i in range (1,n+1):
    s=s*i
    for j in range (1, i+1):
        r=r*j
        k=k*(j-(i+1))
d=s/r*k
print(d)

enter number of terms:7
5040.0

In [8]:
a=int(input("Enter salary amount:"))
r=int(input("Enter rate of interest:"))
n=int(input("Enter the number of times its supposed to grow"))
final_a= n*a
c=0
while(a<=final_a):
    interest=a*(r/100)
    a=a+interest
    c=c+1
print("It has to be deposited for ",c," years.")

Enter salary amount:15000000
Enter rate of interest:12
Enter the number of times its supposed to grow2
It has to be deposited for  7  years.

## **D1 SLOT**

In [12]:
birthday = input("Enter your birthday in the format 'ddmmyyyy': ")
lucky_number = 0

for digit in birthday:
    lucky_number += int(digit)

while len(str(lucky_number)) != 1:
    temp = 0
    for digit in str(lucky_number):
        temp += int(digit)
    lucky_number = temp

print("Your lucky number is: ", lucky_number)

Enter your birthday in the format 'ddmmyyyy': 10112004
Your lucky number is:  9

In [13]:
# Take input from the user
units_used = float(input("Enter the number of units used: "))

# Initialize the bill variable
bill = 0

# Calculate the bill based on the usage and slab rates
if units_used < 200:
    bill = units_used * 2.5
elif units_used < 500:
    bill = (200 * 2.5) + (units_used - 200) * 3.5
else:
    bill = (200 * 2.5) + (300 * 3.5) + (units_used - 500) * 4.5

# Print the bill
print("The electricity bill is: Rs.", bill)

Enter the number of units used: 898
The electricity bill is: Rs. 3341.0

In [14]:
# Take input from the user
n = int(input("Enter the number of terms in the series: "))

# Initialize variables
i = 1
j = 2

# Use while loop to print the series
while n > 0:
    print(i, end=" ")
    i += 1
    if i == j:
        j += 1
    n -= 1

Enter the number of terms in the series: 5
1 2 3 4 5

In [15]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(i + j * (i - 1), end=" ")
    print()

1
3 4
5 7 9
7 10 13 16
9 13 17 21 25

## **D2 SLOT**

In [16]:
# Take input from the user
n = int(input("Enter the number of terms in the series: "))

# Initialize variables
first = 0
second = 1

# Use while loop to print the series
while n > 0:
    print(first, end=" ")
    temp = first + second
    first = second
    second = temp
    n -= 1

Enter the number of terms in the series: 7
0 1 1 2 3 5 8

In [17]:
# Take input from the user
num = int(input("Enter a number: "))

# Initialize a flag variable
is_prime = True

# Check if the input number is prime or not
if num > 1:
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
else:
    is_prime = False

# Print the result
if is_prime:
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a number: 7
7 is a prime number.

In [18]:
# Initialize a variable to keep track of the current number
num = 1

# Use a while loop to print the numbers from 1 to 10
while num <= 10:
    if num == 7:
        num += 1
        continue
    print(num)
    num += 1

1
2
3
4
5
6
8
9
10

In [19]:
# Take input from the user
units_used = float(input("Enter the number of units used: "))

# Initialize the bill variable
bill = 0

# Calculate the bill based on the usage and slab rates
if units_used < 200:
    bill = units_used * 2.5
elif units_used < 500:
    bill = (200 * 2.5) + (units_used - 200) * 3.5
else:
    bill = (200 * 2.5) + (300 * 3.5) + (units_used - 500) * 4.5

# Print the bill
print("The electricity bill is: Rs.", bill)

Enter the number of units used: 678
The electricity bill is: Rs. 2351.0

In [20]:
# Take input from the user
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

# Use a for loop to iterate through the range
for num in range(start, end + 1):
    if num % 5 == 0:
        print(num)

Enter the start of the range: 5
Enter the end of the range: 85
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85

In [ ]:
*    
* *  
* * *
* *  
*